
body {
      /* Typography Declarations */
      color: #222222;
      font-size: 1em;
      /* comma-delimited font stack, providing fallback options
      if Open Sans is unavailable, then Helvetica Neue, then sans-serif */
      font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.masthead-intro,
.masthead-heading,
.content-footer {
    text-align: center;
}
.masthead {
    border-top: solid 1em #7692a1;
    background-image: url("https://images.unsplash.com/photo-1415857221319-ec25f9d00899?crop=entropy&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1275");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6em 0;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-size: 2em;
    font-family: "Gentium Book Basic", Georgia, serif;
    color: #172936;
}

.masthead-heading {
    margin-top: -0.2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 8em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-shadow: 0 0.02em 0 #A40406;
    color: #B85A55;
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top:2em;
}

.introduction-section > p,
.location-section > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.introduction-section a:link {
    text-decoration: none;
    color: #B85A55;
    font-weight: bold;
}


.introduction-section a:visited {
    color: #B85A55;
}

.introduction-section a:hover {
    color: #D75E28;
}

.questions-section > h2 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout, using a shorthand that orders clockwise starting from Top 
      i.e. Top Right Bottom Left or 12 3 6 9*/
    margin: 2em 0 1em 0;
    color: #B85A55;
}

section > h1 {
    margin-top: 2em;
}

.social > li {
    margin: 0 2em 0 0;
    display: inline-block;
}

.content-footer {
        background-color: #172936;
}
/* 172936 */
.content-footer > p {
    color: white;
}

.content-footer a:link {
    text-decoration: none;
    color: #B85A55;
    font-weight: bold;
}

/* 7692a1 */
.content-footer a:visited {
    color: #B85A55;
}

.content-footer a:hover{
    color: #D75E28;
}


